<div id="img-modal" class="modal">
    <div class="modal-background image"></div>
    <button class="modal-close image is-xlarge" aria-label="{{t "close"}}"></button>
    <div class="modal-content image">
        <div class="img-wrap"></div>
    </div>
</div>
