{{!< default}}

{{#page}}
    <div class="post outer">
        <div class="inner">
            <main class="content only-content">
                <header class="post__header">
                    <h1>{{title}}</h1>
                </header>
                <section class="post-content">
                    {{content}}
                </section>
            </main>
        </div>
    </div>
{{/page}}

{{> common}}

{{> img-modal}}
